<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fundraising</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="text-center md:mx-[644px] md:text-xl">

        <div class="navbar space-x-8 md:space-x-60 my-4 p-1 flex">
            <div class="p-1 md:w-[40%] w-[60%]">
                
                    <img class="" src="/images/fund.svg" alt="">
            </div>
                <button class="bg-gradient-to-br from-purple-500 py-1 px-3 mt-1 md:w-32 md:font-semibold text-gray-100 rounded-full  to-red-600">Log In</button>
        </div>
        
        <div class="text-3xl p-2 text-[23px] font-serif">Hello Ashutosh Nautiyal</div>
        <div class="p-2">
            <img src="https://cfstatic.giveindia.org/f8c17c46-d3cf-499d-baa5-e3c22a1befc0.jpg" alt="galleryImage" class="gallery-image">
        </div>

        <div class="second-nav space-x-8 text-sm p-2 bg-gray-100  font-semibold text-[#1d6464] ">

            <a href="">Story </a>
            <a href="">Updates </a>
            <a href="">FAQs </a>
        </div>

        <div class="content-1 text-center px-2 text-[16px] md:text-lg md:p-4 my-1">
            <p>I am fundraising for a cause close to my heart, to bring a lasting change in the lives of the underprivileged. To help me create more impact and touch more lives, I need your support and contribution. Please back my fundraiser so that together we can build a better India for all of us.
        </div>
        <button class="bg-gradient-to-r from-purple-600 to-pink-500 md:hidden text-white font-serif font-semibold w-full fixed p-2 -mx-36 ">Donate now</button><br> Pleadge your support and donate now !</p>
            
       
        

        <br>
        <hr class="border-md border-[0.8px] mx-4 border-[#0000009a]" >

        <div class="my-3 p-2">
            <a href="https://fundraisers.giveindia.org/projects/957" target="_blank"><h3>The Project - Sakha – Free Distribution of Sanitary Napkins kit </h3></a>
            <br>


            <p  class="text-[16px] md:text-lg text-justify px-2">The menstrual and reproductive health of women is a very important aspect of women’s development. However, India is lagging behind in this aspect due to the taboo related to menstruation, and the lack of menstrual hygiene management facilities. Millions of girls drop out of school annually due to the shame on the subject and unavailability of menstrual hygiene facilities. 70% of all the reproductive diseases in India are caused by poor menstrual health. Underprivileged women opt for unhygienic materials to absorb their menstrual flow because they cannot afford healthier materials. Many women are not even aware of the importance of using hygienic materials during those cycles. </p>

            <br>

            <p class="text-[16px] md:text-lg text-justify px-2">The Covid-19 situation has made things worse for menstruating women. The lockdown badly hit the income sources of many who earned through daily wage labor. This has created a barrier for women to obtain the necessary staff for their menstrual hygiene. The once who had chosen to replace rags with sanitary napkins kit may have to go back to the unhygienic materials they once used. The pandemic has left women with no choice but to sacrifice their health.</p>

            <br>
            <h1 class="font-bold text-left  mx-2 text-lg my-2">Action</h1>
            <p class="text-[16px] md:text-lg text-justify px-2">A large number of underprivileged people stay in Babu Camp, Sambav Camp, Vimbasti, Viru camp &amp; Sapera Basti near Chatterpur, South Delhi. Through the project <strong>‘Sakha’</strong>,<strong> </strong>Tare Zameen Foundation has been organizing free distribution of sanitary napkins kit for the underprivileged girls and women in these areas since its inception. Along with it, the organization has also been spreading awareness on menstrual hygiene. It has made effort to empower women by encouraging them to talk about menstruation and speak up against the stigma related to it. Since, it is the time of pandemic the organization is not conducting awareness camps as of now. Nevertheless, it is still distributing sanitary kits along with helpful advises for all the underprivileged women in the said areas.</p>
            <br>
            <h1 class="font-bold text-left text-lg  mx-2 my-2">Impact</h1>
            <p class="text-[16px] text-justify md:text-lg px-2">The project will create awareness among the poor and the downtrodden regarding Menstrual Health and Hygiene by distributing free sanitary napkins kit to those who can’t afford it. The sole purpose of the project is to ensure better menstrual health of the poor women and empower them through awareness on their rights towards basic necessities.</p>

            <br>
        <hr class="border-md border-[0.8px] mx-4 border-[#0000009a]" >

        <h1 class="font-semibold text-lg  my-2">About the benificiary organization</h1>
        <p class="text-[16px] text-justify md:text-lg px-2">Tare Zameen Foundation is a non-profit organization registered in the year 2018 in Delhi. Since, its inception the organization has been working for many causes like the upliftment of Children, Womenb and the Divyanjan. It has been reaching out to the unprivileged and underprivileged children by providing them with the means of education and has shown the women folk the way to empowerment through employment. It also has been campaigning for the Save Girl Child programme through awareness generation. . It has also been engaged with the Divyanjan and has been looking at connecting them with teachers and trainers to improve their skills and giving them a platform to share their achievements. Likewise, through its various activities Tare Zameen Foundation is making a positive and lasting impact on their lives.&nbsp;</p>

        <button class="bg-[#1d7a7a] text-white p-3 text-sm rounded-sm my-4 mx-2 md:font-bold" >Start a Supporing Fundraiser</button>


        <footer>
            <br>
            <div class="copyright text-sm  p-2 mb-6"><span>© 2022 GiveIndia</span><span>Donations through this platform are tax exempted under 80G &amp; 501(c)(3)</span></div>
        </footer>
        </div>
    </div>
    
</body>
</html>